---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import { BLOG } from "@consts";

const posts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const pinnedPosts = posts.filter((post) => post.data.pinned);
const regularPosts = posts//.filter((post) => !post.data.pinned);

const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort((a, b) => a.localeCompare(b));

const estimated_initial_size = 28 + posts.length * 158 + (posts.length - 1) * 12;
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
	<TopLayout>
		<div class="text-xl md:text-2xl lg:text-3xl text-center animate page-heading">
			{BLOG.TITLE}
		</div>
	</TopLayout>

	<BottomLayout>
		<div class="animate">
			{
				pinnedPosts.length > 0 && (
					<ul class="flex flex-col gap-1">
						{pinnedPosts.map((entry) => (
							<li>
								<a
									href={`/${entry.collection}/${entry.slug}`}
									class="group px-4 py-2 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
								>
									<div class="w-full group-hover:text-black group-hover:dark:text-white blend">
										<div class="font-semibold  text-black dark:text-white line-clamp-2">
											📌 {entry.data.title}
										</div>
									</div>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke-width="2.5"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
									>
										<line
											x1="5"
											y1="12"
											x2="19"
											y2="12"
											class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
										/>
										<polyline
											points="12 5 19 12 12 19"
											class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
										/>
									</svg>
								</a>
							</li>
						))}
					</ul>
				)
			}
		</div>
	</BottomLayout>

	<BottomLayout>
		<div id="search-collection-wrapper" class="animate" style={{ minHeight: `${estimated_initial_size}px` }}>
			<SearchCollection client:load entry_name={"posts"} tags={tags} data={regularPosts} />
		</div>
	</BottomLayout>
</PageLayout>
